
<div class="page-header">
    <div class="page-header-image" [ngStyle]="{'background-image': 'url(' + setBackgroundImage() + ')'}"></div>
    <div class="container">
       <!--<div class="logo-container">
            <img class="imglogo" src="assets/img/weathery/logo2.png" alt="" height="228">
        </div>-->
        <div class="logo-text">Weathery</div>
        <form autocomplete="off" class="form"  (ngSubmit)="rechercheVille(nomVille)">
            <div class="content">
                <div class="input-group form-group-no-border" >
                    <label for="input"></label>
                    <input type="text"
                           class="form-control"
                           name="nomVille"
                           [(ngModel)]=nomVille required
                           placeholder="Saisir la ville..."
                           list="datalist"
                           autocomplete="off"
                           id="input"
                           (input)="requeteVille(nomVille)"
                    >
                    <datalist id="datalist">
                        <option *ngFor="let c of tabVilles" [value]="c">
                    </datalist>
                </div>
            </div>
            <div class="footer text-center">
                <button  class="btn btn-round btn-lg [disabled]=!searchForm.valid" >Go</button>
            </div>
        </form>
        <app-weather></app-weather>
        <app-music></app-music>
    </div>
</div>
