.container_weather{
    margin: auto;
    width: 35%;
    padding: 10px;
}

#divWeatherMain{
    display: block;
    border-radius: 25px;
    position: inherit;
    width: 360px;
    height: 280px;
    padding: 15px;
    color: white;
    font-family: 'Comfortaa', sans-serif;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
}

.weatherWidgetRow{
    display:block;
    margin:0 auto;
    width: fit-content;
}

.sun{
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow( 1px 1px 10px yellow);
}

.moon{
    margin-top: 10px;
    color: white;
    filter: drop-shadow( 1px 1px 10px white);
}

.cloudDiv{
    margin-top: -40px;
}

.cloud{
    color: rgb(104, 175, 197);
    filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes cloudMovement{
    from{margin-left: -55px;}
    to{margin-left: 65px;}
}

.glass{
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(3px);
}

.preview{
    content: " ";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
    min-width: 50px;
    min-height: 50px;
    animation-name: custom_anim;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

}

@keyframes custom_anim{
    from{margin-left: -30px;}
    to{margin-left: 30px;}
}
